<p id="notice"><%= notice %></p>

<h1>Missions</h1>

<%= form_tag(missions_path, method: :get) do %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>


<table>
  <thead>
    <tr>
      <th>Mission name</th>
      <th>Mission id</th>
      <th>Wikipedia</th>
      <th>Website</th>
      <th>Twitter</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mission.each do |mission| %>
      <tr>
        <td><%= mission["mission_name"] %></td>
        <td><%= mission["mission_id"] %></td>
        <td><%= mission["wikipedia"] %></td>
        <td><%= mission["website"] %></td>
        <td><%= mission["twitter"] %></td>
        <td><%= mission["description"] %></td>
        <td>
          <%= link_to 'show', mission_path(id: mission["mission_id"]) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>