<p id="notice"><%= notice %></p>

<p>
  <strong>Mission name:</strong>
  <%= @mission["mission_name"] %>
</p>

<p>
  <strong>Mission id:</strong>
  <%= @mission["mission_id"] %>
</p>

<p>
  <strong>Wikipedia:</strong>
  <%= @mission["wikipedia"] %>
</p>

<p>
  <strong>Website:</strong>
  <%= @mission["website"] %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @mission["twitter"] %>
</p>

<p>
  <strong>Description:</strong>
  <%= @mission["description"] %>
</p>

<%= link_to 'back', missions_path %>